
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    
}

.main{
    background: url('./images/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
   background-color: black;
}

h2{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom:140px; 
    color: black;
    text-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ) ;
}
.container{
    color: aliceblue;
    height: 250px;
    width: 600px;
    background: rgba(43, 38, 38, 0.25);
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.btn{
    background:#ff9f1c;;
    padding: 5px 6px;
    border: none;
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

.btn:hover{
    background: black;
    color: #ff9f1c;
}