@import 'var';
@import 'media-queries';

.header{
    background: $bg;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: $border;
    position: fixed;
    top: 0%; left: 0%; right: 0%;
    z-index: 1000;

    @include tablet{
        padding: 1.5rem 2rem;
    }


    &_logo{
        font-size: 3rem;
        color: #fff;

        i{
            font-size: 4.5rem;
            color: $main-colour;
        }
    }

    &_navbar{

        @include tablet{
            position: absolute;
            top: 100%; right: -100%;
            background: #fff;
            width: 30rem;
            height: calc(100vh - 9.5rem);

            
        }

        &_item{
            margin :0 1rem;
            font-size: 1.6rem;
            color: #fff;
            transition: all .4s ease-out;

            @include tablet{
                color: $black;
                display: block;
                margin: 1.5rem;
                padding: 0.5rem;
                font-size: 2rem;
            }

            &:hover{
                color: $main-colour;
                border-bottom: 0.1rem solid $main-colour;
                border-top: 0.1rem solid $main-colour;
                padding-bottom: 0.4rem;
                padding-top: 0.4rem;

            }
        }
    }

    &_icons{

        .btn{
            display: none;

            @include tablet{
                display: inline-block;
            }
        }

        &_icon{
            color: #fff;
            cursor: pointer;
            font-size: 2.5rem;
            margin-left: 2rem;


            &:hover{
                color: $main-colour;
                
            }
        }
    }

    &_search{
        position: absolute;
        top: 115%; right: 7%;
        background: #fff;
        width: 50rem;
        height: 5rem;
        display: flex;
        align-items: center;
        transform: scaleY(0);
        transform-origin: top;
 
        &_input{
            height: 100%;
            width: 100%;
            font-size: 1.6rem;
            color: $black;
            padding: 1rem;
            text-transform: none;
        }
        &_label{
            cursor: pointer;
            font-size: 2.2rem;
            margin-right: 1.5rem;
            color: $black;

            &:hover{
                color: $main-colour;
            }
        }
    }

    &_cart{
        position:absolute;
        top: 100%;
        right: -100%;
        width: 35rem;
        height: calc(100vh - 9.5rem);
        background: #fff;
        padding: 0 1.5rem;

        .btn{
            width: 100%;
            text-align: center;
            margin-top: 1rem;
            display: inline-block;
            padding: 1rem 1rem;
            font-size: 1.7rem;
            color: #fff;
            background: $main-colour;
            cursor: pointer;
        }

        &_item{
            position: relative;
            margin: 2rem 0;
            display: flex;
            align-items: center;
            gap: 1.5rem;

            img{
                border-radius: 50%;
            }

            h3{
                font-size: 2rem;
                color: $black;
                padding-bottom: .5rem;
            }

            .price{
                font-size: 1.5rem;
                color: $main-colour;

            }

            .fa-times{
                position: absolute;
                top: 1rem;right: 1rem;
                font-size: 2rem;
                cursor: pointer;
                color: $black;

                &:hover{
                    color: $main-colour
                }
            }

        }
        
        
    }
}