@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import "var";
@import "header";
@import "card";
@import "media-queries";
@import "home";
@import "about";
@import "menu";
@import "review";
@import "contact";
@import "";

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;

    @include tablet{
        font-size: 55%;
    }
}

html::-webkit-scrollbar{
    width: 0.8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
   background: #fff;
   border-radius: 5rem;
}

body{
    background: $bg;
}