@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Tilt+Neon&display=swap');

*{
    font-family: 'Tilt Neon', sans-serif;
}

.main{
    display: flex;
    align-items: center;
    flex-direction: column;
}